<section class="container criar-pedidos">
    <header class="header">
        <h2>
            Adicione um<br>pedido:
        </h2>
    </header>
    <form>
        <label for="pedido">Pedido</label>
        <input class="input" type="textarea" name="pedido" id="pedido" placeholder="Qual o seu pedido?">

        <label for="observacao">Observações</label>
        <input class="input" type="textarea" name="observacao" id="observacao"
            placeholder="Digite as observações do pedido do pedido?">

        <label for="modelo">Como você gostaria do seu café?</label>
        <div class="container-radio">
            <div class="radio-modelo">
                <label for="modelo1">
                    <input type="radio" name="modelo-card" id="modelo1" value="modelo1">

                    <div class="custom-radio">
                        <span></span>
                    </div>
                    <span>Modelo 1</span>
                </label>
            </div>
        </div>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
            <img src="../../../assets/imagens-angular/imagensCurso/modelo1.png" alt="fraco">
            <p class="conteudo">Conteudo</p>
            <p class="observacao"><b>Observação</b></p>
        </div>

        
    </form>
</section>