<div class="pedido {{ pedido.modelo }} ff-roboto-mono pedido-p">
    <p class="conteudo"> {{pedido.conteudo}} </p>
    <p class="descricao"> {{pedido.descricao}} </p>
    <p class="valor"> R${{pedido.valor}} </p>
    <div class="acoes">
        <button class="botao-editar">
            <img class="img-ico" src="../../../../assets/imagens-angular/imagensCurso/icone-editar.png">
        </button>

        <button class="botao-excluir">
            <img class="img-ico" src="../../../../assets/imagens-angular/imagensCurso/icone-excluir.png">
        </button>
    </div>
</div>