.acoes {
    display: flex;
    justify-content: flex-end
  }
  
  .botao-excluir {
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 10px;
  }
  
  .botao-editar {
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .pedido {
    background-color: #F8F9FE;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .pedido .conteudo {
    margin: 1rem auto;
    word-wrap: break-word;
  }
  
  .pedido .descricao {
    word-wrap: break-word;
  }
  
  .modelo1 {
    box-shadow: 8px 8px 0px #a0512d86;
  }
  
  .modelo2 {
    box-shadow: 8px 8px 0px #a0512d86;
  }
  
  .modelo3 {
    box-shadow: 8px 8px 0px #a0512d86;
  }
  
  .pedido-g {
    width: 556px;
  }
  
  .pensamento-p {
    width: 262px;
  }
  
  .img-ico{
    width: 20px;
    height: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .pedido-g {
      width: 100%;
    }
  }
  @media screen and (max-width: 426px) {
    .pedido-p {
      width: 100%;
    }
  }