<section class="container">
    <header class="header d-flex">
        <h2 class="ff-inter">Pedidos</h2>
        <button routerLink="/criarPedido" class="botao">Adicionar pedido</button>
    </header>
    <div class="mural" *ngIf="listaPedidos.length > 0, else semPedidos">
        <div *ngFor="let pedido of listaPedidos">
            <app-pedido [pedido]="pedido"></app-pedido>
        </div>
    </div>
</section>

<ng-template #semPedidos>
    <div class="ff-inter sem-pedidos">
        <p>Ainda não há pedidos</p>
    </div>
</ng-template>