.cabecalho {
    background: url(../../../assets/imagens-angular/imagensCurso/fundo-cabecalho.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 300px;
  }
  
  .cabecalho .logo {
    width: 30%;
    padding: 0 3rem  ;
  }
  
  .cabecalho .logo img {
    width: 90%;
    max-width: 200px;
    margin-bottom: 2rem;
  }
  
  .cabecalho .imagem{
    width: 30%;
  }
  
  .cabecalho p {
    font-size: 2rem;
    color: #6a3d1058;
    padding-bottom: 60px;
    font-weight: 800;
  }
  
  @media (max-width: 576px) {
    .cabecalho .logo {
      padding: 2rem;
    }
    .cabecalho p {
      font-size: 1.5rem
    }
  }
  
  @media (max-width: 768px) {
    .cabecalho .logo {
      width: 90%;
    }
    .cabecalho .imagem {
      display: none;
    }
  }